.container.mt-5
  %h1.text-center.mb-4 User Details

  .table-responsive
    %table.table.table-bordered.table-hover
      %thead.table-dark
        %tr
          %th First Name
          %th Last Name
          %th Email
          %th Phone No
          %th Role
      %tbody
        %tr
          %td= @user.first_name
          %td= @user.last_name
          %td= @user.email
          %td= @user.phone_no
          %td= @user.role
